h2,h3{
  font-weight: bold;
}

#homeTeam {
  color: blue;
  font-weight: bold;
}

#awayTeam {
  color: red;
  font-weight: bold;
}

input {
	border-radius: 16px;
	text-align: center;
  width: 48px;
}

td {
	text-align: center;
}

td.finHomeScore {
	color: blue;
	font-weight: bold;
}

td.finAwayScore {
	color: red;
	font-weight: bold;
}

td.tHomeScore {
  color: blue;
  font-weight: bold;
}

td.tAwayScore {
  color: red;
  font-weight: bold;
}

legend {
	font-size: 48px;
	text-align: center;
}

fieldset {
	width: 432px;
	border-radius: 48px;
	background-color: class="tHomeScore";
}

body {
	background-color: rgb(193, 181, 181);
}
