h2,h3{
  	font-weight: bold;
}

#homeTeam {
  	color: blue;
  	font-weight: bold;
	text-decoration: overline;
	text-shadow: 3px 2px blue;
	font-family: Impact, Charcoal, sans-serif;
}

#awayTeam {
  	color: red;
  	font-weight: bold;
	text-decoration: overline;
	text-shadow: 3px 2px red;
	font-family: Impact, Charcoal, sans-serif;
}

input {
  	border-radius: 16px;
  	text-align: center;
  	width: 48px;
}

td {
	text-align: center;
}

td.finHomeScore {
	color: blue;
	font-weight: bold;
}

td.finAwayScore {
	color: red;
	font-weight: bold;
}

td.tHomeScore {
	color: blue;
	font-weight: bold;
}

td.tAwayScore {
	color: red;
	font-weight: bold;
}

legend {
	font-size: 48px;
	text-align: center;
}

fieldset {
	width: 432px;
	border-radius: 48px;
	background-color: rgb(84, 83, 82);
}

body {
	background-color: rgb(193, 181, 181);
}
